@media (max-width: 770px){
    .landingForm {
        display: flex;
        flex-direction: column 
    }
    .formItem1{
        order:1;
    }

    .formItem2{
        order:2;
    }

    .formItem3{
        order:3;
    }
}


@media (min-width: 770px){
    .landingFormBig{
        display: flex;
    }



}

